name: macOS

on:
  pull_request:
    branches: [ main ]

jobs:
  build-macos:
    strategy:
      matrix:
        include:
          # macOS 10.15 + Xcode 11.7
          - name: "macOS 10.15 + Xcode 11.7"
            os: macos-10.15
            compiler: xcode
            version: "11.7"
          # macOS 10.15 + gcc-9
          - name: "macOS 10.15 + gcc-9"
            os: macos-10.15
            compiler: gcc
            version: "9"

    runs-on: ${{ matrix.os }}
    name: ${{ matrix.name }}

    steps:
    - uses: actions/checkout@v1
    - name: Configure Compiler
      run: |
        if [ "${{ matrix.compiler }}" = "gcc" ]; then
          echo "CC=gcc-${{ matrix.version }}" >> $GITHUB_ENV
          echo "CXX=g++-${{ matrix.version }}" >> $GITHUB_ENV
        else
          ls -ls /Applications/
          sudo xcode-select -switch /Applications/Xcode_${{ matrix.version }}.app
          echo "CC=clang" >> $GITHUB_ENV
          echo "CXX=clang++" >> $GITHUB_ENV
        fi
    - name: Build
      run: ${{ env.CXX }} src/main.cpp -std=c++11 -O3 -g -DNDEBUG -march=native -o bench.out
    - name: System Info
      run: |
        sysctl -a | grep machdep.cpu
        g++ -v
    - name: Run Bench
      run: |
        ./bench.out
